/* single_blog_pg_section_1 css */
.single_blg_pg_sec_1 .sing_blg_pg_sec_1_container {
  justify-content: space-between;
  gap: 0.5rem;
}
.single_blg_pg_sec_1 .l_container {
  max-width: 585px;
  width: 100%;
  gap: 1.25rem;
  justify-content: center;
}
.single_blg_pg_sec_1 .l_container .profile_info {
  max-width: 316px;
  width: 100%;
  justify-content: space-between;
}
.single_blg_pg_sec_1 .l_container .profile_info .author_img > a {
  display: flex;
  align-items: center;
}
.single_blg_pg_sec_1 .l_container .profile_info .user > a {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--light_green_color);
}
.single_blg_pg_sec_1 .l_container .profile_info .date > span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--sub_heading_clr);
}
.single_blg_pg_sec_1 .l_container h1 {
  font-family: var(--bigshot_one_font-family);
  color: var(--primary_heading_clr);
}
.single_blg_pg_sec_1 .l_container p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary_head_clr);
}

.single_blg_pg_sec_1 .share > a {
  background-image: url("/assets/share_bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  color: var(--solid_white_clr);
  width: 7rem;
  height: 2.75rem;
  gap: 0.5rem;
}
.single_blg_pg_sec_1 .social_btn_links {
  max-width: 550px;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}
.single_blg_pg_sec_1 .social_icons {
  width: 100%;
  justify-content: space-between;
}
.single_blg_pg_sec_1 .social_icons > a {
  background-color: var(--light_green_color);
  padding: 10px 18px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--solid_white_clr);
  font-size: 1rem;
  font-weight: 400;
}
.single_blg_pg_sec_1 .social_icons > a:hover {
  opacity: 90%;
}
.single_blg_pg_sec_1 .img_container >a,img{
  height: 100%;
}

/* single_blog_pg_section_2 css */
.single_blg_pg_sec_2 .single_blg_pg_sec_2_container {
  justify-content: space-between;
  gap: 1rem;
}
.single_blg_pg_sec_2 .l_container {
  max-width: 790px;
  width: 100%;
  gap: 3rem;
}
.single_blg_pg_sec_2 .l_container .inner_col_1 {
  gap: 1.25rem;
}
.single_blg_pg_sec_2 .l_container .inner_col_1 .col_1 {
  gap: 0.625rem;
}
.single_blg_pg_sec_2 .l_container .inner_col_1 .col_1 > span,
.single_blg_pg_sec_2 .l_container .inner_col_3 .col_1 > span {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary_heading_clr);
  margin-left: 1rem;
}
.single_blg_pg_sec_2 .l_container .inner_col_1 .col_1 > p,
.single_blg_pg_sec_2 .l_container .inner_col_3 .col_1 > p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary_head_clr);
}
.single_blg_pg_sec_2 .l_container .inner_col_1 .col_2 {
  background-color: var(--background_clr);
}
.single_blg_pg_sec_2 .l_container .inner_col_1 .col_2 > h3 {
  font-weight: 500;
  font-style: italic;
  color: var(--light_green_color);
  padding: 0.625rem 1rem;
}

.single_blg_pg_sec_2 .l_container .inner_col_1 .col_3 ul li {
  list-style: auto;
  margin-left: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary_head_clr);
}
.single_blg_pg_sec_2 .l_container .inner_col_1 .col_3 ul li > span,
.single_blg_pg_sec_2 .l_container .inner_col_3 .col_2 ul li > span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--light_green_color);
}
.single_blg_pg_sec_2 .l_container .inner_col_1 .col_3 ul li::marker,
.single_blg_pg_sec_2 .l_container .inner_col_3 .col_2 ul li::marker {
  color: var(--light_green_color);
}

.single_blg_pg_sec_2 .l_container .inner_col_2,
.single_blg_pg_sec_2 .l_container .inner_col_3,
.single_blg_pg_sec_2 .l_container .faq_sec ,
.single_blg_pg_sec_2 .l_container .advertisement_col_4 ,
.single_blg_pg_sec_2 .l_container .col_5{
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--primary_heading_clr);
}
.single_blg_pg_sec_2 .l_container .inner_col_3 {
  gap: 1.25rem;
}
.single_blg_pg_sec_2 .l_container .inner_col_3 .col_1,
.single_blg_pg_sec_2 .l_container .inner_col_3 .col_2 {
  gap: 0.625rem;
}
.single_blg_pg_sec_2 .l_container .inner_col_3 .col_1 p > a {
  color: #0e8ce8;
}
.single_blg_pg_sec_2 .l_container .inner_col_3 .col_2 > span {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--bigshot_one_font-family);
}
.single_blg_pg_sec_2 .l_container .inner_col_3 .col_2 ul li {
  margin-left: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary_head_clr);
}

.single_blg_pg_sec_2 .l_container .faq_sec .faq_container{
  border-left: none;
}

.single_blg_pg_sec_2 .l_container .advertisement_col_4{
  justify-content:space-between ;
}
.single_blg_pg_sec_2 .l_container .advertisement_col_4 .txt_over_img {
  transform: translate(44%, -280%);
}
.single_blg_pg_sec_2 .l_container .author_col{
  background-color: var(--background_clr);
  padding: 1.25rem 1.5rem;
  border-left: 3px solid var(--light_green_color);
}
.single_blg_pg_sec_2 .l_container .author_col .img_author_info{
  gap: .625rem;
}
.single_blg_pg_sec_2 .l_container .author_col .img_author_info a:nth-of-type(2){
  font-family: var(--bigshot_one_font-family);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--para_clr);
}
.single_blg_pg_sec_2 .l_container .author_col .img_author_info > p{
font-weight: 400;
color: var(--para_clr);
}
.single_blg_pg_sec_2 .l_container .author_col .img_author_info a:nth-of-type(3){
  color: #0E8CE8;
}
.single_blg_pg_sec_2 .l_container .author_col .img_author_info .social_icons{
  gap: 1.25rem;
  align-items: center;
}
.single_blg_pg_sec_2 .l_container .author_col .img_author_info .social_icons>a{
  display: flex;
  align-items: center;
}
.single_blg_pg_sec_2 .l_container .leave_reply_container{
  gap: 1rem;
}
.single_blg_pg_sec_2 .l_container .leave_reply_container .heading_col{
font-size: 1rem;
font-weight: 500;
color: var(--secondary_head_clr);
}
.single_blg_pg_sec_2 .l_container .form_container{
  gap: 1.25rem;
}
.single_blg_pg_sec_2 .l_container .form_container .basic_inputs{
  width: 100%;
  justify-content: space-between;
}
.single_blg_pg_sec_2 .l_container .form_container .basic_inputs > input{
  width: 30%;
  padding: 10px;
  outline: none;
  border: 1px solid var(--primary_heading_clr);
}
.single_blg_pg_sec_2 .l_container .form_container .basic_inputs > input::placeholder{
  color: var(--primary_heading_clr);
  font-weight: 500;
}
.single_blg_pg_sec_2 .l_container .form_container .checkbox{
  align-items: center;
  gap: .5rem;
}
.single_blg_pg_sec_2 .l_container .form_container .checkbox> input[type=checkbox]{
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #d9d9d9;
  border: 0;
  cursor: pointer;

}
.single_blg_pg_sec_2 .l_container .form_container .checkbox input[type="checkbox"]::before {
  content: "";
  display: inline-block;
  border: 0;
  width: 100%;
  height: 100%;
}
.single_blg_pg_sec_2 .l_container .form_container .checkbox input[type="checkbox"]:checked::before{
  content: "✔";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--light_green_color);
  color: white; 
  text-align: center;
}
.single_blg_pg_sec_2 .l_container .form_container .checkbox p{
  color: #2F2E2E;
  font-weight: 300;
  font-size: .75rem;
}
.single_blg_pg_sec_2 .l_container .form_container .text_area_wrap textarea{
  width: 100%;
  padding: 1rem 1.5rem;
  outline: none;
  border: 1px solid var(--primary_heading_clr);
}
.single_blg_pg_sec_2 .l_container .form_container .text_area_wrap textarea::placeholder{
  color: var(--primary_heading_clr);
  font-weight: 500;
}
.single_blg_pg_sec_2 .l_container .form_container > button{
  padding: .625rem 1.25rem;
  width: max-content;
}

/* single_blog_pg_section_2 css end*/
